.updateForm{
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    align-items:center;
}

.updateForm input{
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    background-color: #fff0f0c2;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.updateForm button{
    background-color: #047baa; 
    color: white; 
    border: none;
    border-radius: 5%;
    display: block;
    padding: 8px 10px;
    text-align: center;
    font-size: 18px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}